In [2]:
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np

In [5]:
df_train=pd.read_csv('../data/train.csv',parse_dates=['Dates'])
df_test=pd.read_csv('../data/test.csv',parse_dates=['Dates'])

In [6]:
df_train.head(1)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599

In [7]:
df_test.head(1)

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051

In [8]:
df_train.drop('Descript',axis=1,inplace=True)
df_train.drop('Resolution',axis=1,inplace=True)
df_train.drop('Address',axis=1,inplace=True)
df_test.drop('Address',axis=1,inplace=True)

In [9]:
df_train.head(1)
df_test.head(1)

   Id               Dates DayOfWeek PdDistrict           X          Y
0   0 2015-05-10 23:59:00    Sunday    BAYVIEW -122.399588  37.735051

In [10]:
df_train['DayOfWeek'].unique()

array(['Wednesday', 'Tuesday', 'Monday', 'Sunday', 'Saturday', 'Friday',
       'Thursday'], dtype=object)

In [11]:
Days_Of_Week=pd.get_dummies(df_train['DayOfWeek'],prefix='DayOfWeek').astype(bool)

In [12]:
df_train=pd.concat([df_train,Days_Of_Week],axis=1)

In [13]:
Days_Of_Week_test=pd.get_dummies(df_test['DayOfWeek'],prefix='DayOfWeek').astype(bool)
df_test=pd.concat([df_test,Days_Of_Week_test],axis=1)

In [14]:
df_train.head(1)

,Dates,Category,DayOfWeek,PdDistrict,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,-122.425892,37.774599,False,False,False,False,False,False,True

In [15]:
PdDistrict_df=pd.get_dummies(df_train['PdDistrict'],prefix='PdDistrict').astype(bool)

In [16]:
df_train=pd.concat([df_train,PdDistrict_df],axis=1)
df_train.head(1)

,Dates,Category,DayOfWeek,PdDistrict,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,...,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,2015-05-13 23:53:00,WARRANTS,Wednesday,NORTHERN,-122.425892,37.774599,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [17]:
PdDistrict_dftest=pd.get_dummies(df_test['PdDistrict'],prefix='PdDistrict').astype(bool)
df_test=pd.concat([df_test,PdDistrict_dftest],axis=1)

In [18]:
df_train.drop('PdDistrict',axis=1,inplace=True)
df_train.drop('DayOfWeek',axis=1,inplace=True)
df_test.drop('PdDistrict',axis=1,inplace=True)
df_test.drop('DayOfWeek',axis=1,inplace=True)

In [19]:
df_train.head(1)

,Dates,Category,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,...,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,2015-05-13 23:53:00,WARRANTS,-122.425892,37.774599,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [20]:
df_test.head(1)

,Id,Dates,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,...,PdDistrict_BAYVIEW,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN
0,0,2015-05-10 23:59:00,-122.399588,37.735051,False,False,False,True,False,False,...,True,False,False,False,False,False,False,False,False,False

In [21]:
df_train['Dates_Year']=df_train['Dates'].dt.year
df_train['Dates_Month']=df_train['Dates'].dt.month
df_train['Dates_Day']=df_train['Dates'].dt.day
df_train['Dates_Hour']=df_train['Dates'].dt.hour
df_train['Dates_Minute']=df_train['Dates'].dt.minute
df_train['Dates_Second']=df_train['Dates'].dt.second

df_test['Dates_Year']=df_test['Dates'].dt.year
df_test['Dates_Month']=df_test['Dates'].dt.month
df_test['Dates_Day']=df_test['Dates'].dt.day
df_test['Dates_Hour']=df_test['Dates'].dt.hour
df_test['Dates_Minute']=df_test['Dates'].dt.minute
df_test['Dates_Second']=df_test['Dates'].dt.second

In [22]:
df_train.head(1)

,Dates,Category,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,...,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,Dates_Year,Dates_Month,Dates_Day,Dates_Hour,Dates_Minute,Dates_Second
0,2015-05-13 23:53:00,WARRANTS,-122.425892,37.774599,False,False,False,False,False,False,...,False,False,False,False,2015,5,13,23,53,0

In [23]:
df_train.drop('Dates',axis=1,inplace=True)
df_test.drop('Dates',axis=1,inplace=True)
df_train.head(1)

,Category,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,...,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,Dates_Year,Dates_Month,Dates_Day,Dates_Hour,Dates_Minute,Dates_Second
0,WARRANTS,-122.425892,37.774599,False,False,False,False,False,False,True,...,False,False,False,False,2015,5,13,23,53,0

In [24]:
df_train.head(1)

,Category,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,...,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,Dates_Year,Dates_Month,Dates_Day,Dates_Hour,Dates_Minute,Dates_Second
0,WARRANTS,-122.425892,37.774599,False,False,False,False,False,False,True,...,False,False,False,False,2015,5,13,23,53,0

In [26]:
train_columns = list(df_train.columns[1:25].values)
test_columns = list(df_test.columns[1:25].values)

In [27]:
label_name = "Category"
feature_names = df_train.columns.difference([label_name])

X_train = df_train[train_columns]

print(X_train.shape)
X_train.head(3)

(878049, 24)

,X,Y,DayOfWeek_Friday,DayOfWeek_Monday,DayOfWeek_Saturday,DayOfWeek_Sunday,DayOfWeek_Thursday,DayOfWeek_Tuesday,DayOfWeek_Wednesday,PdDistrict_BAYVIEW,...,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,Dates_Year,Dates_Month,Dates_Day,Dates_Hour,Dates_Minute
0,-122.425892,37.774599,False,False,False,False,False,False,True,False,...,False,False,False,False,False,2015,5,13,23,53
1,-122.425892,37.774599,False,False,False,False,False,False,True,False,...,False,False,False,False,False,2015,5,13,23,53
2,-122.424363,37.800414,False,False,False,False,False,False,True,False,...,False,False,False,False,False,2015,5,13,23,33

In [28]:
y_train = df_train[label_name]

print(y_train.shape)
y_train.head(3)

(878049,)

0          WARRANTS
1    OTHER OFFENSES
2    OTHER OFFENSES
Name: Category, dtype: object

In [31]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.cross_validation import cross_val_score, StratifiedKFold

kfold = StratifiedKFold(y_train, n_folds=6)

model = BernoulliNB()

%time score = cross_val_score(model, X_train, y_train, cv=kfold, scoring='log_loss').mean()
score = -1.0 * score
model.fit(X_train[train_columns], y_train)
print("Use BernoulliNB. Score = {0:.6f}".format(score))

/Users/rajnish/anaconda3/lib/python3.6/site-packages/sklearn/metrics/scorer.py:137: DeprecationWarning: Scoring method log_loss was renamed to neg_log_loss in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
/Users/rajnish/anaconda3/lib/python3.6/site-packages/sklearn/metrics/scorer.py:137: DeprecationWarning: Scoring method log_loss was renamed to neg_log_loss in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
/Users/rajnish/anaconda3/lib/python3.6/site-packages/sklearn/metrics/scorer.py:137: DeprecationWarning: Scoring method log_loss was renamed to neg_log_loss in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
/Users/rajnish/anaconda3/lib/python3.6/site-packages/sklearn/metrics/scorer.py:137: DeprecationWarning: Scoring method log_loss was renamed to neg_log_loss in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
/Users/rajnish/anaconda3/lib/python3.6/site-packages/sklearn/metrics/scorer.py:137: DeprecationWarning: Scoring method log_loss was renamed to neg_log_loss in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)
/Users/rajnish/anaconda3/lib/python3.6/site-packages/sklearn/metrics/scorer.py:137: DeprecationWarning: Scoring method log_loss was renamed to neg_log_loss in version 0.18 and will be removed in 0.20.
  sample_weight=sample_weight)

CPU times: user 45.8 s, sys: 6.05 s, total: 51.9 s
Wall time: 51.8 s
Use BernoulliNB. Score = 2.564319

In [68]:
from sklearn.preprocessing import LabelEncoder
cat_encoder = LabelEncoder()
cat_encoder.fit(df_train["Category"])
predicted = model.predict_proba(df_test[test_columns])  
result = pd.DataFrame(predicted,columns=cat_encoder.classes_)
result.to_csv("testresultBernauli.csv", index = True, index_label = "Id")

In [67]:
result

LabelEncoder()